:root {
    /** Color **/
    --primary-color: #FF2B45;
    --secondary-color: #FFF9EA;
    // $tertiary-color: ;
    // $quaternary-color: ;
    // $quinary-color: ;
    // $senary-color: ;
    // $septenary-color: ;

    --color-black: #000;
    --color-white: #fff;

    --primary-grey-light: #f7f7f7;
    --secondary-grey-light: #eeeeee;

    --primary-grey-dark: #777;
    --secondary-grey-dark: #999;

    /** Font **/
    --primary-font: 'Raleway', sans-serif;
    // $secondary-font: ;

    /** Grid **/
    // $grid-width: 114rem;
    // $gutter-vertical: 8rem;
    // $gutter-horizontal: 6rem;
}