.form-group {
    >span {
        display: block;
        margin-top: 5px;
        font-size: 15px;
        color: var(--primary-color);
    }
}

.form-control {
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-radius: 0;
    &:focus {
        border-top-style: none;
        border-left-style: none;
        border-right-style: none;
        box-shadow: none;
        border-color: var(--primary-color);
    }
}

select.form-control {
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-radius: 0;
    -webkit-appearance: none;
}


/* button */

.btn {
    border-radius: 30px;
    padding: 11px 20px;
}

.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn-primary:hover {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn-primary:not(:disabled):not(.disabled):active {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

/* */
.form-control.is-invalid:focus, .was-validated .form-control:invalid:focus {
    box-shadow: none;
}
