<div class="container">
  <div class="row">
      <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-10">
                <div class="card-title-pseudo">
                    <h3>Calificación</h3>
                </div>
            </div>
          </div>
      </div>
      <div class="col-lg-12">
            <div class="card-content">
                <div class="row">
                    <div class="col-lg-12">
                        <a class="arrow-link" *ngFor="let item of idReturnView" [routerLink]="['/docente/curso/'+ item]"><span class="icon-arrow-left"></span></a>
                    </div>
                    <div class="col-lg-12">
                        <form [formGroup]="registerForm" (ngSubmit)="onSubmitRegister()" autocomplete="off"> <!--  novalidate="" -->
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="evaluationName"><strong>Nombre</strong></label>
                                        <input  type="text"
                                                class="form-control"
                                                id="evaluationName"
                                                formControlName="evaluationName"
                                                [ngClass]="{ 'is-invalid': f.evaluationName.errors }">
                                        <div class="invalid-feedback" *ngIf="f.evaluationName.errors">
                                            <div *ngIf="f.evaluationName.errors.required">Campo obligatorio</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="percentageValue"><strong>Peso %</strong></label>
                                        <input  type="number"
                                                class="form-control"
                                                id="percentageValue"
                                                formControlName="percentageValue"
                                                [ngClass]="{ 'is-invalid': f.percentageValue.errors }">
                                        <div class="invalid-feedback" *ngIf="f.percentageValue.errors">
                                            <div *ngIf="f.percentageValue.errors.required"> Campo obligatorio</div>
                                            <div *ngIf="f.percentageValue.errors.min"> Minimo valor 0</div>
                                            <div *ngIf="f.percentageValue.errors.max"> Max valor 100</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 d-flex justify-content-end">
                                    <button type="submit" class="btn btn-primary" >Registrar</button>
                                </div>
                            </div>
                        </form>
                        <table *ngIf="qualificationSettings.length > 0" class="table table-striped u-margin-top-small">
                            <thead>
                                <tr>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Peso %</th>
                                    <th scope="col">Accción</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of qualificationSettings">
                                    <th scope="row">{{ item.evaluationName}}</th>
                                    <td>{{ item.percentageValue }}</td>
                                    <td>
                                        <!--
                                            Para la eliminación de un registro, tenemos unos pasos:
                                            1️⃣ Click en el boton para eliminar el registro seleccionado
                                            2️⃣ Eliminar el registro de la base de datos y vista
                                            3️⃣ Mostrar registros restantes en la vista
                                        -->
                                        <span (click)="staticModal.show()" class="icon-trash2"></span>
                                        <div class="modal fade" bsModal #staticModal="bs-modal"
                                            [config]="{backdrop: 'static'}" tabindex="-1" role="dialog"
                                            aria-labelledby="mySmallModalLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-sm">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h4 class="modal-title pull-left">Confimación</h4>
                                                        <button type="button" class="close pull-right"
                                                            aria-label="Close" (click)="staticModal.hide()">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        Esta seguro que desea eliminar?.
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button"
                                                            class="btn btn-outline-secondary" (click)="staticModal.hide()">Cancel</button>
                                                        <button type="button" class="btn btn-danger"
                                                            (click)="onClickDeleteQualification(item.id)" >Ok</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div *ngIf="qualificationSettings.length === 0" style="margin-top: 40px; background-color: #F2F2F2; padding: 15px 10px; border-left: 3px solid #10213F"> <!-- Comprueba la longitud de la arreglo en la plantilla. Regresa un arreglo vacio [] cuando no tiene informacion assistanceSettings -->
                            Upsss! No tiene registro de calificación.
                        </div>
                    </div>
                </div>
            </div>
      </div>
  </div>
</div>
<style>
    .arrow-link {
        background-color: #DEE2E6;
        color: #10213F;
        display: inline-block;
        width: 60px;
        height: 60px;
        border-radius: 5px;
        font-size: 28px;
        transition: .3s all;

        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: auto; /* alineamiento de un padre flexible */
    }
    .arrow-link:hover {
        background-color: #11213F;
    }
    .arrow-link:hover span {
        color: #FFF;
    }
    .icon-trash2 {
        color: #FF2B45;
        font-size: 20px;
        cursor: pointer;
    }
</style>
