<nav id="menu">
  <ul>
    <li><a href="http://localhost:4200/#/perfil_admin">Administrativo</a>
      <ul>
        <li><a href="http://localhost:4200/#/registro_alumno">Registrar Alumno</a></li>
        <li><a href="http://localhost:4200/#/registro_docente">Registrar Docente</a></li>
        <li><a href="http://localhost:4200/#/inscripcion">Inscripción</a></li>
        <li><a href="http://localhost:4200/#/programacion_curso">Programar Curso</a></li>
      </ul>
    </li>
    <li><a href="http://localhost:4200/#/perfil_docente">Docente</a></li>
    <li><a href="http://localhost:4200/#/perfil_alumno">Alumno</a></li>
  </ul>
</nav>
