<style>
  .perfil-avatar figure {
    text-align: center;
  }

  .perfil-avatar img {
    border-radius: 50%;
    margin-bottom: 10px;
    background-color: var(--secondary-color);
  }

  .perfil-info h4 {
    margin-bottom: 0;
  }

  .perfil-info strong {
    color: var(--primary-color);
    font-size: 15px;
  }

  .perfil-info li {
    margin-bottom: 7px;
    padding-left: 24px;
    position: relative;
  }

  .perfil-info span {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    color: var(--primary-color);
  }

  .perfil-info__data {
    margin-top: 12px;
  }
</style>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="card-content">
        <div class="row">
          <div class="col-lg-3">
            <div class="perfil-avatar">
              <figure>
                <!-- validar si el avatar es hombre o mujer -->
                <img src="../../../../assets/img/user-avatar-2.png" alt="avatar" width="150">
              </figure>
            </div>
          </div>
          <div class="col-lg-9">
            <div class="perfil-info">
              <h4>Sofía Valentin</h4>
              <strong>Admin</strong>
              <ul class="perfil-info__data">
                <li> <span class="icon-map-marker"></span>Galeria Callao 105 Dpto. 307</li>
                <li> <span class="icon-phone-outgoing"></span>6567062</li>
                <li> <span class="icon-envelope"></span>gmanriqe@gmail.com</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
