/**************************
LINKS
**************************/
a {
    text-decoration: none;  
}
a,
a:link,
a:hover {
    color: --color-black;
}
a:hover,
a:active {
    text-decoration: underline;
    outline: 0; 
}