.card-title.configure {
    padding-left: 0;
    .icon-cog {
        color: var(--color-white);
        font-size: 28px;
    }
    .dropdown-toggle::after {
        color: var(--color-white);
    }
}

