.nav-pills {
    border-bottom: 1px solid var(--primary-color);
}
.nav-pills .nav-link {
    font-size: 17px;
    color: var(--color-black);
    border-width: 1px;
    border-style: solid;
    border-color: #DEE2E6 #DEE2E6 transparent;
    border-radius: .25rem .25rem 0 0;
    padding: 10px 43px;
}
.nav-pills .nav-link.active {
    color: var(--primary-color);
    background-color: var(--color-white);
    font-weight: 700;
}
.nav-pills .nav-item {
    margin-bottom: -1px;
}
.nav-pills .nav-item:not(:last-child) {
    margin-right: 5px;
}
.tab-content>.tab-pane {
    padding: 20px 0;
    color: var(--color-black);
    line-height: 28px;
    font-weight: 300;
}
