.card-content.curse {
    display: block;
    background-color: #fff;
    position: relative;
    width: 100%;
    border-radius: 12px;
    overflow: hidden;
    padding: 0;

    box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;

    transition: all .5s;
    border: 1px solid rgba(0,0,0,.125);
    .curse__hover {
        position: absolute;
        padding: 16px;
        width: 100%;
        opacity: 0;
        top: 0;
    }
    .curse__img {
        visibility: hidden;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 235px;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
    }
    .curse__info {
        z-index: 2;
        background-color: #fff;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
        padding: 16px 24px 24px 24px;
    }
    // &:hover {
    //     -webkit-box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
    //     box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
    //     -webkit-transform: scale(1.1, 1.1);
    //     -ms-transform: scale(1.1, 1.1);
    //     transform: scale(1.1, 1.1);
    // }
}
.card__img--hover {
    -webkit-transition: 0.3s all ease-out;
    -o-transition: 0.3s all ease-out;
    transition: 0.3s all ease-out;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    position: absolute;
    height: 235px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    top: 0;
}
.card__info {
    z-index: 2;
    background-color: #fff;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    padding: 16px 24px 24px 24px;
}