<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">Acción</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let nuevoAlumno of nuevosAlumnos">
                        <th scope="row">{{ nuevoAlumno.name }}</th>
                        <td>{{ nuevoAlumno.lastName }}</td>
                        <td>
                            <a href="" class="btn btn-success">Editar</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
